In [43]:
import pandas as pd 
adult= pd.read_csv("C:\\Users\\hp\\Desktop\\dataset\\adult.csv",header=None,na_values=" ?")

In [44]:
adult

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,NaN,180211,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65092,30,NaN,33811,Bachelors,13,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
65093,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
65094,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
65095,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
65096,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
65097,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
65098,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
65099,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
65100,71,NaN,287372,Doctorate,16,Married-civ-spouse,NaN,Husband,White,Male,0,0,10,United-States,>50K
65101,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
65102,41,NaN,202822,HS-grad,9,Separated,NaN,Not-in-family,Black,Female,0,0,32,United-States,<=50K
65103,72,NaN,129912,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,25,United-States,<=50K
65104,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
65105,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
65106,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
65107,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
65108,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
65109,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
65110,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
65111,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
65112,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
65113,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
65114,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
65115,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
65116,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
65117,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
65118,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
65119,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
65120,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
65121,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [45]:
adult.isnull().sum()

0        0
1     3672
2        0
3        0
4        0
5        0
6     3686
7        0
8        0
9        0
10       0
11       0
12       0
13    1166
14       0
dtype: int64

In [46]:
adult.columns=['age','workclass','fnlwgt','education','education.num','material_status','occupation','relationship','race',
            'gender','capital gain','capital less','hour-per-week','native-country','income']

In [47]:
adult.head()

,age,workclass,fnlwgt,education,education.num,material_status,occupation,relationship,race,gender,capital gain,capital less,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [48]:
adult.shape

(65122, 15)

In [49]:

adult.isnull().sum()

age                   0
workclass          3672
fnlwgt                0
education             0
education.num         0
material_status       0
occupation         3686
relationship          0
race                  0
gender                0
capital gain          0
capital less          0
hour-per-week         0
native-country     1166
income                0
dtype: int64

In [50]:
adult.income.value_counts()

 <=50K    49440
 >50K     15682
Name: income, dtype: int64

In [51]:

adult.dropna(inplace=True)

In [52]:
adult.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
education.num      0
material_status    0
occupation         0
relationship       0
race               0
gender             0
capital gain       0
capital less       0
hour-per-week      0
native-country     0
income             0
dtype: int64

In [54]:

#adult.fillna({'age':adult.age.mean(),'course':adult.counts.value_counts().index[0]},inplace=True)

In [56]:
#adult.get_dummies

In [57]:
adult.income=adult.income.map({' <=50k':0,' >50k':1})

In [58]:

adult.income.value_counts()

Series([], Name: income, dtype: int64)

In [59]:
adult.shape

(60324, 15)

In [60]:
x=adult.drop('income',axis=1)
y=adult.income

In [61]:
x.head()

,age,workclass,fnlwgt,education,education.num,material_status,occupation,relationship,race,gender,capital gain,capital less,hour-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [62]:
y.head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: income, dtype: float64

In [63]:
adult.education.unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' 7th-8th', ' Doctorate',
       ' Assoc-voc', ' Prof-school', ' 5th-6th', ' 10th', ' Preschool',
       ' 12th', ' 1st-4th'], dtype=object)

In [64]:
adult['native-country'].value_counts()

 United-States                 55008
 Mexico                         1220
 Philippines                     376
 Germany                         256
 Puerto-Rico                     218
 Canada                          214
 India                           200
 El-Salvador                     200
 Cuba                            184
 England                         172
 Jamaica                         160
 South                           142
 Italy                           136
 China                           136
 Dominican-Republic              134
 Vietnam                         128
 Guatemala                       126
 Japan                           118
 Columbia                        112
 Poland                          112
 Haiti                            84
 Iran                             84
 Taiwan                           84
 Portugal                         68
 Nicaragua                        66
 Peru                             60
 Greece                           58
 France                           54
 Ecuador                          54
 Ireland                          48
 Hong                             38
 Cambodia                         36
 Trinadad&Tobago                  36
 Thailand                         34
 Laos                             34
 Yugoslavia                       32
 Outlying-US(Guam-USVI-etc)       28
 Hungary                          26
 Honduras                         24
 Scotland                         22
 Holand-Netherlands                2
Name: native-country, dtype: int64

In [68]:
for i in adult.columns:
    if adult[i].dtypes=='object':
        j=adult[i].nunique()
        print(" unique_feature {} has {} categories".formates)

AttributeError: 'str' object has no attribute 'formates'

In [69]:
for col_name in adult.columns:
    if adult[col_names].dtypes=='object':
        unique_cat=adult[col_name].nonuque()
        print(" feature {} has {} unique_categories".format)

NameError: name 'col_names' is not defined

In [40]:
adult['native-country']=['US' if x=='United-state' size 'eithers' for x in adult['native-country']]

SyntaxError: invalid syntax (<ipython-input-40-43bfa3eb51d8>, line 1)

In [71]:
adult['native-country'].value_counts()

 United-States                 55008
 Mexico                         1220
 Philippines                     376
 Germany                         256
 Puerto-Rico                     218
 Canada                          214
 India                           200
 El-Salvador                     200
 Cuba                            184
 England                         172
 Jamaica                         160
 South                           142
 Italy                           136
 China                           136
 Dominican-Republic              134
 Vietnam                         128
 Guatemala                       126
 Japan                           118
 Columbia                        112
 Poland                          112
 Haiti                            84
 Iran                             84
 Taiwan                           84
 Portugal                         68
 Nicaragua                        66
 Peru                             60
 Greece                           58
 France                           54
 Ecuador                          54
 Ireland                          48
 Hong                             38
 Cambodia                         36
 Trinadad&Tobago                  36
 Thailand                         34
 Laos                             34
 Yugoslavia                       32
 Outlying-US(Guam-USVI-etc)       28
 Hungary                          26
 Honduras                         24
 Scotland                         22
 Holand-Netherlands                2
Name: native-country, dtype: int64

In [73]:
c=adult.select_dtypes(include=['object'])

In [74]:
c.columns

Index(['workclass', 'education', 'material_status', 'occupation',
       'relationship', 'race', 'gender', 'native-country'],
      dtype='object')

In [76]:
x1=pd.get_dummies(adult[c.columns])

In [77]:
x1.shape

(60324, 98)

In [ ]:
new_adult=pd.concat([x1.adult])

In [35]:
t= pd.read_csv("C:\\Users\\hp\\Desktop\\dataset\\txt.adult")

In [ ]:
t

In [ ]:
t.fillna({'age':t.age.mean(),'course':t.counts.value_counts().index[0]},inplace=True)

In [ ]:
txt.adult['size']