In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\hp\\Desktop\\videos\\depy2016-master\\adult.csv")

In [3]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,#NAME?,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,#NAME?,Self-emp-not-inc,#NAME?,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,#NAME?,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,?,#NAME?,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,51,?,203953,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,>50K
4971,46,State-gov,29696,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
4972,30,Private,315640,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1977,40,China,>50K
4973,37,Private,632613,10th,6,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,35,Mexico,<=50K
4974,56,Private,282023,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
4975,29,Private,77760,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,45,United-States,<=50K
4976,46,Self-emp-not-inc,148599,Masters,14,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,>50K
4977,55,Private,414994,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
4978,45,Private,339863,Bachelors,13,Divorced,Sales,Not-in-family,White,Male,8614,0,48,United-States,>50K
4979,34,Private,499249,HS-grad,9,Married-spouse-absent,Handlers-cleaners,Not-in-family,White,Male,0,0,40,Guatemala,<=50K
4980,45,?,144354,9th,5,Separated,?,Own-child,Black,Male,0,0,40,United-States,<=50K
4981,41,Private,252058,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,40,United-States,<=50K
4982,22,?,99543,Some-college,10,Never-married,?,Own-child,#NAME?,Male,0,0,20,United-States,<=50K
4983,34,Private,117963,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
4984,27,Private,194652,HS-grad,9,Never-married,Craft-repair,Own-child,Black,Male,0,0,40,United-States,<=50K
4985,29,Private,299705,Some-college,10,Never-married,Handlers-cleaners,Unmarried,Black,Male,0,0,37,United-States,<=50K
4986,19,Federal-gov,27433,12th,8,Never-married,Other-service,Own-child,White,Female,0,0,30,United-States,<=50K
4987,47,Local-gov,39986,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
4988,43,Self-emp-inc,135342,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
4989,52,Private,270142,Assoc-voc,11,Separated,Exec-managerial,Unmarried,Black,Female,0,0,60,United-States,<=50K
4990,33,Self-emp-not-inc,118267,Assoc-acdm,12,Divorced,Sales,Not-in-family,White,Male,0,0,60,United-States,<=50K
4991,29,Private,266043,9th,5,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
4992,23,Private,35633,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,<=50K
4993,23,Private,74568,Some-college,10,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,United-States,<=50K
4994,39,Private,214816,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,<=50K
4995,43,Private,222971,5th-6th,3,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,Mexico,<=50K
4996,31,Private,259425,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
4997,47,Self-emp-inc,212120,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
4998,#NAME?,Private,245880,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,60,United-States,<=50K
4999,58,Local-gov,54947,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,55,United-States,<=50K

In [4]:
print (df.head(5))

  age         workclass  fnlwgt  education education_num      marital_status  \
0  39         State-gov   77516  Bachelors            13       Never-married
1  50  Self-emp-not-inc   83311  Bachelors            13  Married-civ-spouse
2  38           Private  215646    HS-grad             9            Divorced
3  53           Private  234721       11th             7  Married-civ-spouse
4  28           Private  338409  Bachelors            13  Married-civ-spouse

          occupation   relationship   race     sex  capital_gain  \
0       Adm-clerical  Not-in-family  White    Male          2174
1    Exec-managerial        Husband  White    Male             0
2  Handlers-cleaners  Not-in-family  White    Male             0
3  Handlers-cleaners        Husband  Black  #NAME?             0
4     Prof-specialty           Wife  Black  Female             0

   capital_loss  hours_per_week native_country income
0             0              40  United-States  <=50K
1             0              13  United-States  <=50K
2             0              40  United-States  <=50K
3             0              40  United-States  <=50K
4             0              40           Cuba  <=50K

In [5]:
print (df['income'].value_counts())

<=50K    3779
>50K     1221
Name: income, dtype: int64

In [6]:
df ['income']=[0 if  x =='<=50k' else 1 for x in df['income']]

In [7]:
x=df.drop('income',1)
y=df.income

In [8]:
print (x.head(5))

  age         workclass  fnlwgt  education education_num      marital_status  \
0  39         State-gov   77516  Bachelors            13       Never-married
1  50  Self-emp-not-inc   83311  Bachelors            13  Married-civ-spouse
2  38           Private  215646    HS-grad             9            Divorced
3  53           Private  234721       11th             7  Married-civ-spouse
4  28           Private  338409  Bachelors            13  Married-civ-spouse

          occupation   relationship   race     sex  capital_gain  \
0       Adm-clerical  Not-in-family  White    Male          2174
1    Exec-managerial        Husband  White    Male             0
2  Handlers-cleaners  Not-in-family  White    Male             0
3  Handlers-cleaners        Husband  Black  #NAME?             0
4     Prof-specialty           Wife  Black  Female             0

   capital_loss  hours_per_week native_country
0             0              40  United-States
1             0              13  United-States
2             0              40  United-States
3             0              40  United-States
4             0              40           Cuba

In [9]:
print(y.head(5))

0    1
1    1
2    1
3    1
4    1
Name: income, dtype: int64

In [10]:
print(x['education'].head(5))

0    Bachelors
1    Bachelors
2      HS-grad
3         11th
4    Bachelors
Name: education, dtype: object

In [11]:
print (pd.get_dummies(x['education']).head(5))

   10th  11th  12th  1st-4th  5th-6th  7th-8th  9th  ?  Assoc-acdm  Assoc-voc  \
0     0     0     0        0        0        0    0  0           0          0
1     0     0     0        0        0        0    0  0           0          0
2     0     0     0        0        0        0    0  0           0          0
3     0     1     0        0        0        0    0  0           0          0
4     0     0     0        0        0        0    0  0           0          0

   Bachelors  Doctorate  HS-grad  Masters  Preschool  Prof-school  \
0          1          0        0        0          0            0
1          1          0        0        0          0            0
2          0          0        1        0          0            0
3          0          0        0        0          0            0
4          1          0        0        0          0            0

   Some-college
0             0
1             0
2             0
3             0
4             0

In [12]:
for col_name in x.columns:
    if x[col_name].dtypes =='object':
        unique_cat = len(x[col_name].unique())
        print ("Feature '{col_name}' has {unique_cat} unique categories".format( col_name=col_name, unique_cat=unique_cat))

Feature 'age' has 69 unique categories
Feature 'workclass' has 8 unique categories
Feature 'fnlwgt' has 4507 unique categories
Feature 'education' has 17 unique categories
Feature 'education_num' has 17 unique categories
Feature 'marital_status' has 7 unique categories
Feature 'occupation' has 15 unique categories
Feature 'relationship' has 6 unique categories
Feature 'race' has 6 unique categories
Feature 'sex' has 3 unique categories
Feature 'native_country' has 40 unique categories

In [13]:
print (x['native_country'].value_counts().sort_values(ascending=False).head(10))

United-States    4465
Mexico            104
?                  97
Canada             28
Philippines        22
Germany            22
El-Salvador        16
England            16
Puerto-Rico        16
Jamaica            15
Name: native_country, dtype: int64

In [14]:
x['native_country']=['United-States' if x =='United-States' else 'Other' for x in x['native_country']]

In [15]:
print (x['native_country'].value_counts().sort_values(ascending=False))

United-States    4465
Other             535
Name: native_country, dtype: int64

In [16]:
todummy_list =['workclass','education','marital_status','occupation','relationship','race','sex','native_country']

In [17]:
#function to dummy 
def dummy_df(df,todummy_list):
    for x in todummy_list:
        dummies = pd.get_dummies(df[x], prefix=x, dummy_na=False)
        df = df.drop(x, 1)
        df = pd.concat([df, dummies], axis=1)
    return df

In [18]:
x =dummy_df(x, todummy_list)
print(x.head(5))

  age  fnlwgt education_num  capital_gain  capital_loss  hours_per_week  \
0  39   77516            13          2174             0              40
1  50   83311            13             0             0              13
2  38  215646             9             0             0              40
3  53  234721             7             0             0              40
4  28  338409            13             0             0              40

   workclass_?  workclass_Federal-gov  workclass_Local-gov  workclass_Private  \
0            0                      0                    0                  0
1            0                      0                    0                  0
2            0                      0                    0                  1
3            0                      0                    0                  1
4            0                      0                    0                  1

               ...               race_Amer-Indian-Eskimo  \
0              ...                                     0
1              ...                                     0
2              ...                                     0
3              ...                                     0
4              ...                                     0

   race_Asian-Pac-Islander  race_Black  race_Other  race_White  sex_#NAME?  \
0                        0           0           0           1           0
1                        0           0           0           1           0
2                        0           0           0           1           0
3                        0           1           0           0           1
4                        0           1           0           0           0

   sex_Female  sex_Male  native_country_Other  native_country_United-States
0           0         1                     0                             1
1           0         1                     0                             1
2           0         1                     0                             1
3           0         0                     0                             1
4           1         0                     1                             0

[5 rows x 70 columns]

In [19]:
x.isnull().sum().sort_values(ascending=False).head()

native_country_United-States    0
education_Doctorate             0
education_7th-8th               0
education_9th                   0
education_?                     0
dtype: int64

In [20]:
from sklearn.preprocessing import Imputer

imp= Imputer (missing_values='NaN',strategy='median',axis=0)
imp.fit(x)
x= pd.DataFrame(data=imp.transform(x),columns=x.columns)

ValueError: could not convert string to float: '#NAME?'

In [ ]:
x.isnull().sum().sort_values(ascending=False).head()

In [ ]:
from IPython.display import Image
Image (filename="C:\\Users\\hp\\Desktop\\videos\\depy2016-master\\outliers.jpg")

In [ ]:
from IPython.display import Image
Image (filename="C:\\Users\\hp\Desktop\\videos\\depy2016-master\\tukeyiqr.jpg")

In [ ]:
def find_outliers_tukey(x):
    q1=np.percentile(x,25)
    q3=np.percentile(x,75)
    iqr=q3-q1
    floor = q1 - 1.5*iqr
    ceiling = q3 + 1.5*iqr
    outlier_indices = list(x.index[(x < floor)|(x > ceiling)])
    outlier_values =list(x[outlier_indices])
    
    return outlier_indices, outlier_values

In [ ]:
tukey_indices, tukey_values = find_outliers_tukey(x['age'])
print (np.sort(tukey_values))

In [ ]:
from sklearn.preprocessing import scale
from statsmodels.nonparametric.kde import KDEUnivariate

def find_outliers_kde(x):
    x_scaled = scale(list(map(float,x)))
    kde =KDEUnivariate(x_scaled)
    kde.fit(bw="scott",fft=True)
    pred = kde.evaluate(x_scaled)
    
    n = sum(pred < 0.05)
    outlier_ind = np.asarray(pred).argsort()[:n]
    outlier_value = np.asarray(x)[outlier_ind]
    
    return outlier_ind, outlier_value

In [ ]:
kde_indices, kde_values = find_outliers_kde(x[ ' age ' ])
print (np.sort(kde_values))

In [ ]:
%matplotlib inline 
import matplotlib.pyplot as plt

In [ ]:
def plot_histogram(x):
    plt.hist(x,color='gray',alpha=0.5)
    plt.title("Histogram of '(var_name)'".format(var_name=x.name))
    plt.xlable["value"]
    plt.ylable("Frequency")
    plt.show()

In [ ]:
plot_histogram(x['age'])

In [ ]:
def plot_histogram_dv(x,y):
    plt.hist(list(x[y==0]), alpha=0.5, label='DV=0')
    plt.hist(list(x[y==1]), alpha=0.5, label='DV=1')
    plt.title("Histograme of '(var_name)' by DV category".format(var_name=x.name ))
    plt.xlabel('value')
    plt.ylabel('Frequency')
    plt.legend(loc='uppur right')
    plt.show()

In [ ]:
plot_histogram_dv(x['age'],y)

In [ ]:
from IPython.display import Image
Image(filename="C:\\Users\\hp\\Desktop\\videos\\depy2016-master\\interactions.jpg")

In [ ]:
from itertools import  combinations
from sklearn.preprocessing import PolynomialFeatures 


def add_interactions(df):
    
    combos = list(combinations(list(df.columns),2))
    colnames = list(df.columns)+['_'.join(x) for x in combos]
    #find interactions 
    
    poly = PolynomialFeatures(interaction_only=True,include_bias=False)
    df= poly.fit_transform(df)
    df=pd.DataFrame(df)
    df.columns =colnames
    
    #remove intraction term with all 0 value 
    
    noint_indicies =[i for i, x in enumerate(list((df == 0).all()))if x]
    df = df.drop(df.columns[noint_indicies], axis=1)
    return df

In [ ]:
x= add_interactions(x)
print(x.head(5))

In [ ]:
from IPython.display import Image
Image(filename="C:\\Users\\hp\\Desktop\\videos\\depy2016-master\\pca.jpg")

In [ ]:
from sklearn.decomposition import PCA

pca= PCA(n_components=10)
x_pca=pd.DataFrame(pca.fit_transform(x))

In [ ]:
print(x_pca.head(5))

In [ ]:
from sklearn.cross_validation import train_test_split
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.70,random_state=1)

In [ ]:
print (df.shape)
print(x.shape)

In [ ]:
import sklearn.feature_selection

select = sklearn.feature_selection.selectKBest(k=20)
selected_features = select.fit(x_train,y_train)
indices_selected = selected_features.get_support(indices=True)
colnames_selected = [x.columns[i] for i in indices_selected]

x_train_selected=x-train[colnames=selected]
x_test_selected=x-test[colnames=selected]

In [ ]:
colnames=selected

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.matrices import roc_auc_score

def find_model_perf(x_train,y_train,x_test,y_test):
    model=LogisticRegression()
    model.fit(x_train,y_train)
    y_hat =[x[1] for x in model.predict_proba(x_test,)]
    auc= roc_auc_score(y_test,y_hut)
    return auc

In [ ]:
auc_processed = find_model_perf(x_train_selected,y_train,x_test_selected,y_test)
print(auc_processed)

In [ ]:
df_unprocessed =df
df_unprocessed =df_unprocessed.dropna(axis=0,how='any')
print(df.shape)
print(df_unprocessed.shape)

In [ ]:
for col_name is df_unprocessed.columns:
    if df_unprocessed[col_name].dtype not in ['int32','int64','float32','float64']:
        df_unprocessed = df_unprocessed.drop(col_name,1)

In [ ]:
x_unprocessed =df_unprocessed.drop('income',1)
y_unprocessed =df_unprocessed.income

In [ ]:
print(x_unprocessed.head(5))

In [ ]:
x_train_unprocessed,x_test_unprocessed,y_train,y_test=train_test_split(x_unprocessed,y_unprocessed,train_size=0.70,random_state=1)
auc_unprocessed = find_model_perf(x_train_unprocessed,y_train,x_test_unprocessed,y_test)
print(auc_unprocessed)

In [ ]:
print('AUC of model with data preprocessing:{auc}'.format(auc=auc_processed))
print('AUC of model with data preprocessing:{auc}'.format(auc=auc_unprocessed))
per_improve =((auc_processed-auc_unprocessed)/auc_unprocessed)*100
print('Model improvement of preprocessing:{per_improve}%'.formate (per_improve=per_improve))